{% load static %}
<html>
    <head>
        <title>
            Search Portal
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    </head>
    <body>
    <nav class="navbar bg-dark navbar-dark">
<!--      <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
          <a class="navbar-brand" href="#">Due Diligence Portal</a>
<!--        </div>-->
        <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        </ul>
<!--      </div>-->
    </nav>
            <div>
                    {% block content %}
                    {% endblock %}
            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="{% static 'main.js' %}" ></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>