{% extends "_base.html" %}
{% load static %}

{% block content %}
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    <div class="wrap">
        <div class="search">
            {{ searchForm }}
            <button id="btnSubmit">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <br />
        <div class="note">
            <h3></h3>
            <br />
            <img src="{% static 'Images/loading.gif' %}" alt="No Image" height="50" width="50"/>
        </div>
        <div class="error">
        </div>
        <div id="accordion" class="news-wrapper">
        </div>
    </div>
</form>
{% endblock %}